{:port 3000
 :database-url "postgresql://db:5432/rems?user=rems&password=remspassword"
 :search-index-path "/tmp/rems-search-index"
 :authentication :oidc
 :public-url "http://localhost:3001/"

 :oidc-metadata-url "http://rp-keycloak:8080/auth/realms/dycons-researcher-idp"

 :oidc-client-id "researcher-portal-client"
 :oidc-client-secret "def86f63-5971-45ab-bab0-b98d853f67c3"
; EXAMPLE: :oidc-client-secret "be9d769d-a166-428c-b442-5ff703cb0a78"
}
