{:port 3000
 :database-url "postgresql://db:5432/rems?user=rems&password=remspassword"
 :search-index-path "/tmp/rems-search-index"
 :authentication :oidc
 :public-url "http://localhost:3001/"

 :oidc-metadata-url "http://rp-keycloak:8080/auth/realms/dycons-researcher-idp/.well-known/openid-configuration"

 :oidc-client-id "rems-client"
 :oidc-client-secret "0ed4b9e0-5ff0-446a-ab7b-82dac465b9d5"
; EXAMPLE: :oidc-client-secret "be9d769d-a166-428c-b442-5ff703cb0a78"
}
