{:port 3000
 :database-url "postgresql://db:5432/rems?user=rems&password=remspassword"
 :search-index-path "/tmp/rems-search-index"
 :authentication :oidc
 :public-url "http://localhost:3001/"

 :oidc-domain "[HOST]/auth/realms/dycons-researcher-idp"
; EXAMPLE: :oidc-domain "985ae5935770.ngrok.io/auth/realms/dycons-researcher-idp"

 :oidc-client-id "researcher-portal-client"
 :oidc-client-secret "fb2454c3-9b2d-4a54-b093-c0dc53599343"
}
